body {
    background-color: hwb(200 80% 20%);
    font-family: "Arial", sans-serif;
    text-align: justify;
  }
  
  h1 {

    margin: 0;
    color: hwb(180 35% 55%);
    font-family: "Pacifico", cursive;
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {

    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
  }
  
  div {

    padding: 2px 10px;

  }
  
  div p {

    margin: 2px;

  }
  
  div.historial {
    margin: 0 10px;
  }
  
  article.deportes {
    border: hwb(19 2% 5%) 3px solid;
    border-radius: 0 20px 20px 20px;
    margin: 10px 50px;
    background-color: hwb(39 26% 29%);
  }
  
  article.deportes h2 {
    border-top-right-radius: 16px;
    background-color: hwb(39 1% 5%);
  }
  
  article.deportes div.informacion {
    background-color: hwb(39 0% 5%);
  }
  
  article.literatura {
    border: hwb(325 0% 20%) 3px solid;
    border-radius: 20px 0;
    margin: 10px 50px;
    background-color: hwb(320 56% 13%);
  }
  
  article.literatura h2 {
    border-top-left-radius: 16px;
    background-color: hwb(313 26% 12%);
  }
  
  article.literatura div.informacion {
    background-color: hwb(305 27% 13%);
  }
  
  