body {

background-color: #4DEAEA;

}

b {

color: red;
font-family: "Comic Sans", cursive;
font-size: 40px;

}

h1{
font-family: sans-serif;
text-align: right;
font-size: 40px;

}

h2 {

font-family: Arial, Helvetica, sans-serif;
font-size: 36px;

}

span {

color: #ED7E22;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;


}

p {

font-family: Arial, Helvetica, sans-serif;

}

time{

color: #ED7E22;

}

em {

color: green;
background-color: white;
font-style: italic;

}